# c-j to go to next stop
# http://vim-settings.googlecode.com/hg/.vim/doc/UltiSnips.txt
# www.sirver.net/blog/2012/01/08/second-episode-of-ultisnips-screencast/

snippet t "A simple HTML tag" b
<${1:div}>
  Hello world
</$1>
endsnippet
